{include file="public/meat" title="标签管理"/}
<div class="cx-fex-c">
    <div class="x11 mt-20">
        <a class="button button-S bg-blue mr-10" href="{:url('index',array('id'=>$postdb.id,'onlay'=>'new'))}">更换其他内容</a>
        <a class="button button-S bg-blue cx-click" data-type="close">返回频道</a>
    </div>
    <div class="x11 mt-15">
        <fieldset class="cx-field">
            <legend class="cx-field-legend">html源代码</legend>
            <form class="layui-form form form-horizontal" id="addform" action="{:url('htmledit')}" method="post">
                <div class="cx-fex-l mb-10">
                    <div class="x3 t-r">
                        <label class="lab">内容</label>
                    </div>
                    <div class="xs8 xl9">
                        <textarea id="contenttxt" class="ipt" name="conf" style="height: 450px;">{$postdb.conf|default=''}</textarea>
                    </div>
                </div>
                <div class="cx-fex-l mb-10">
                    <div class="x3 t-r">
                        <label class="lab">是否暂时隐藏</label>
                    </div>
                    <div class="xs8 xl9">
                        <input name="status" value="0" {eq name="$postdb.status|default=''" value="0"}checked="checked"{/eq} title="是" type="radio">
                        <input name="status" value="1" {eq name="$postdb.status|default='1'" value="1"}checked="checked"{/eq} title="否" type="radio">
                    </div>
                </div>
                <div class="cx-fex-l mb-10">
                    <div class="x3 t-r">
                        <label class="lab"></label>
                    </div>
                    <div class="xs8 xl9">
                        <input type="hidden" name="id" value="{$postdb.id|default=''}">
                        <input type="hidden" name="__token__" required lay-verify="required" value="{$Request.token}" />
                        <button id="transmit" class="button bg-blue" lay-submit lay-filter="labelend-btn">立即提交</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{include file="public/js" /}
<script>
    layui.config({
        base: '__ADMIN__/js/'
    }).use('app');
</script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('#transmit').click(function(){
            parent.$(".{$postdb.title}").html($('#contenttxt').val());
        })
    })
</script>
{include file="public/footer" /}