{include file="$temps.head" title="$webs.title" keywords="$webs.keywords" description="$webs.description" /}
<section class="layout">
    <div class="layui-carousel in-huandeng" id="default-hd">
        <div carousel-item>
            <div class="img-auto">{$label.hd1|default="暂无图片"}</div>
            <div class="img-auto t-c">{$label.hd2|default="暂无图片"}</div>
            <div>{$label.hd1|default="暂无图片"}</div>
        </div>
    </div>
</section>
<section class="cont in-sm-k cx-fex-l">
    <div class="xs4 xl6 pad-a5 in-sm-c">
        <div class="in-sm-list pos-r">
            <h3 class="in-sm-title t-c pos-a">
                <span>MVC框架开发</span>
            </h3>
            <div class="in-sm-cont">
                采用MVC框架开发理念，框架结构更为清晰，代码更易于维护。定制方便灵活，可用于政府企业建站、个人博客、资讯门户、图片站等各类型站点。
            </div>
        </div>
    </div>
    <div class="xs4 xl6 pad-a5 in-sm-c">
        <div class="in-sm-list pos-r">
            <h3 class="in-sm-title t-c pos-a">
                <span>强大的模型功能</span>
            </h3>
            <div class="in-sm-cont">
                蠕虫CMS拥有强大的模型扩展能力，超强的自定义模型和字段功能则把系统灵活度发挥到了极致，用户可以不用编程就实现各种信息发布和检索。
            </div>
        </div>
    </div>
    <div class="xs4 xl6 pad-a5 in-sm-c">
        <div class="in-sm-list pos-r">
            <h3 class="in-sm-title t-c pos-a">
                <span>可视化后台管理</span>
            </h3>
            <div class="in-sm-cont">
                蠕虫CMS精心制作了后台桌面管理系统，管理网站和操作本地电脑一样便捷方便，无需学习成本即可快速上手，管理效率更高。
            </div>
        </div>
    </div>
    <div class="xs4 xl6 pad-a5 in-sm-c">
        <div class="in-sm-list pos-r">
            <h3 class="in-sm-title t-c pos-a">
                <span>高效的模板机制</span>
            </h3>
            <div class="in-sm-cont">
                蠕虫CMS采用MVC体系设计其模板引擎，让美工人员可独立完成模板制作及数据调用，可让程序人员和美工人员分工协作，最大可能提高团队执行力。
            </div>
        </div>
    </div>
    <div class="xs4 xl6 pad-a5 in-sm-c">
        <div class="in-sm-list pos-r">
            <h3 class="in-sm-title t-c pos-a">
                <span>强大的SEO搜索优化</span>
            </h3>
            <div class="in-sm-cont">
                可自定义网页标题、关键词、描述等多种优化项，可自动推送内容至百度搜索引擎。为企业在营销推广方面，提供了非常便捷的方法和功能。
            </div>
        </div>
    </div>
    <div class="xs4 xl6 pad-a5 in-sm-c">
        <div class="in-sm-list pos-r">
            <h3 class="in-sm-title t-c pos-a">
                <span>在线支付功能</span>
            </h3>
            <div class="in-sm-cont">
                蠕虫CMS免费集成了支付宝/微信等支付接口，以满足您开展电子商务在线支付的需要。
            </div>
        </div>
    </div>
</section>
{include file="$temps.foot" /}