{include file="public/meat" title="专题分类列表"/}
<div class="cx-fex-c">
    <div class="x11 pad-t15 pad-b10">
        <div class="cx-fex-c">
            <div class="xs6 xl12">
                <a href="{:url('index')}" class="button bg-blue">专题分类列表</a>
                {if $btn.add}
                <a href="{:url('add',array('mid'=>$Request.param.mid,'pid'=>$Request.param.pid))}" class="button bg-blue">添加专题分类</a>
                {/if}
            </div>
            <div class="xs6 xl12">
                <form class="layui-form" role="form" action="{:url('so')}" method="post">
                    <div class="cx-fex-r">
                        <label class="lab">搜索分类</label>
                        <input class="ipt" name="keyword" placeholder="请输入搜索内容" type="text" style="width: 200px;">
                        <button class="button f-l" type="submit"><i class="cx-icon cx-icon-sousuo"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="x11">
        <form class="layui-form" role="form" action="" method="post">
            <table class="cx-teble cx-teble-bor-w cx-teble-bor cx-table-striped cx-table-hover cx-table-responsive-w">
                <thead>
                <tr>
                    <th class="{if !$btn.del}text-c{/if}" width="120">
                        <div class="checkbox">
                            <label>
                                {if $btn.del}<input id="all" class="inverted" type="checkbox" lay-ignore>{/if}
                                <span class="text">ID</span>
                            </label>
                        </div>
                    </th>
                    <th>分类名称</th>
                    <th class="text-c">专题数量</th>
                    <th class="text-c" width="150">排序</th>
                    {if $btn.del}<th class="text-c" width="100">编辑</th>{/if}
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="cx" empty=""}
                <tr>
                    <td class="alltd table-line-height {if !$btn.del}text-c{/if}">
                        <div class="checkbox">
                            <label>
                                {if $btn.del}<input class="inverted" name="delid[{$cx.id}]" type="checkbox" value="{$cx.id}" lay-ignore>{/if}
                                <span class="text">{$cx.id}</span>
                            </label>
                        </div>
                    </td>
                    <td>{$cx.icon|default=''}{$cx.title}</td>
                    <td class="text-c"><a href="{:url('Special/index',array('class'=>$cx.id))}">{$cx.contnum}</a> </td>
                    <td class="text-c"><input class="input-text size-S text-c" type="text" name="sort[{$cx.id}]" value="{$cx.sort}"></td>
                    {if $btn.del || $btn.edit}
                    <td class="text-c">
                        {if $btn.edit}<a class="btn size-S btn-success mr-5" href="{:url('edit',array('id'=>$cx['id']))}" title="编辑【{$cx.title}】模型">编辑</a>{/if}
                        {if $btn.del}<a class="btn size-S btn-danger cx-click" data-id="{$cx['id']}" data-href="{:url('del')}" data-type="deldata">删除</a>{/if}
                    </td>
                    {/if}
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="t-c pad-t20">
                {if $btn.edit}<button class="button button-S bg-blue mr-10" data-href="{:url('sort')}" data-type="sort" lay-submit lay-filter="sd-btn">修改排序</button>{/if}
                {if $btn.del}<button class="button button-S bg-red" data-href="{:url('pdel')}" data-type="pdel" lay-submit lay-filter="sd-btn">批量删除</button>{/if}
            </div>
        </form>
    </div>
</div>
<div style="height: 20px; overflow: hidden"></div>
{include file="public/js" /}
<script>
    layui.config({
        base: '__ADMIN__/js/'
    }).use('app');
</script>
<script>
    $(function () {
        var obj_tr = $('.cx-teble tr[cxbs-id]');
        obj_tr.each(function () {
            var cid = $(this).attr('cxbs-id'),
                pidarr = new Array();
            obj_tr.each(function () {
                var pid = $(this).attr('cxbs-pid');
                if(pid == cid){
                    pidarr.push(cid);
                }
            })
            if(pidarr.length !== 0){
                $(this).find('td.tabel-title').append("<i class='cx-shensuo cx-icon cx-icon-iconset0187 t-red pointer'></i>");
            }
        });
        var obj_i = $('.cx-teble tr[cxbs-id] i.cx-shensuo');
        obj_i.filter(".cx-shensuo").click(function () {
            var cid = $(this).closest('tr').attr('cxbs-id');
            shensuo(cid);
        });
    });
    function shensuo(o) {
        var obj_tr = $('.cx-teble tr[cxbs-pid = '+ o +']');
        var ico = $('.cx-teble tr[cxbs-id = '+ o +'] i.cx-shensuo');
        if(ico.hasClass('cx-icon-iconset0187')){
            ico.removeClass('cx-icon-iconset0187').addClass('cx-icon-jia');
            obj_tr.each(function () {
                var zcid = $(this).attr('cxbs-id');
                $(this).find('i.cx-shensuo').attr('class','cx-shensuo cx-icon cx-icon-iconset0187 t-red pointer')
                shensuo(zcid);
                $(this).hide();
            })
        }else{
            ico.removeClass('cx-icon-jia').addClass('cx-icon-iconset0187');
            obj_tr.each(function () {
                var zcid = $(this).attr('cxbs-id');
                $(this).find('i.cx-shensuo').attr('class','cx-shensuo cx-icon cx-icon-jia t-red pointer')
                shensuo(zcid);
                $(this).show();
            })
        }
    }
</script>
<script>
    $("#all").click(function () {
        $(this).closest("table").find("td.alltd input:checkbox").prop("checked",$(this).prop("checked"))
    })
</script>
{include file="public/footer" /}