{extend name="./template/junxian/chanpin/article_1.htm" /}
{block name="guanggao"}{$label.daishigg401|default=""}{/block}
{block name="guanggao1"}{$label.daishigg402|default=""}{/block}
{block name="xiangsi"}{$label.article_xiangsi401|default=""}{/block}
{block name="listnewstitle"}<a href="{:url('Part/index?fid=43')}">精密过滤器维护说明</a>{/block}
{block name="listnewsmove"}<a class="t-14" href="{:url('Part/index?fid=43')}">更多 <i class="cx-icon cx-icon-xiangyoujiantou"></i></a>{/block}
{block name="listnewshd"}{$label.cplistnewshd_jmgl|default=""}{/block}
{block name="listnewsls"}{$label.cplistnewslist_jmgl|default=""}{/block}