{extend name="./template/junxian/chanpin/article_1.htm" /}
{block name="guanggao"}{$label.daishigg501|default=""}{/block}
{block name="guanggao1"}{$label.daishigg502|default=""}{/block}
{block name="xiangsi"}{$label.article_xiangsi501|default=""}{/block}
{block name="listnewstitle"}<a href="{:url('Part/index?fid=42')}">全自动过滤器使用说明</a>{/block}
{block name="listnewsmove"}<a class="t-14" href="{:url('Part/index?fid=42')}">更多 <i class="cx-icon cx-icon-xiangyoujiantou"></i></a>{/block}
{block name="listnewshd"}{$label.cplistnewshd_qzdgl|default=""}{/block}
{block name="listnewsls"}{$label.cplistnewslist_qzdgl|default=""}{/block}