{extend name="./template/junxian/chanpin/article_1.htm" /}
{block name="guanggao"}{$label.daishigg201|default=""}{/block}
{block name="guanggao1"}{$label.daishigg202|default=""}{/block}
{block name="xiangsi"}{$label.article_xiangsi201|default=""}{/block}
{block name="listnewstitle"}<a href="{:url('Part/index?fid=44')}">过滤机使用说明</a>{/block}
{block name="listnewsmove"}<a class="t-14" href="{:url('Part/index?fid=44')}">更多 <i class="cx-icon cx-icon-xiangyoujiantou"></i></a>{/block}
{block name="listnewshd"}{$label.cplistnewshd_glyj|default=""}{/block}
{block name="listnewsls"}{$label.cplistnewslist_glyj|default=""}{/block}