{extend name="./template/junxian/chanpin/article_1.htm" /}
{block name="guanggao"}{$label.daishigg4801|default=""}{/block}
{block name="guanggao1"}{$label.daishigg4802|default=""}{/block}
{block name="xiangsi"}{$label.article_xiangsi4801|default=""}{/block}
{block name="listnewstitle"}<a href="{:url('Part/index?fid=55')}">储罐使用说明</a>{/block}
{block name="listnewsmove"}<a class="t-14" href="{:url('Part/index?fid=55')}">更多 <i class="cx-icon cx-icon-xiangyoujiantou"></i></a>{/block}
{block name="listnewshd"}{$label.cplistnewshd_cgs|default=""}{/block}
{block name="listnewsls"}{$label.cplistnewslist_cgs|default=""}{/block}