{extend name="./template/junxian/chanpin/list_1.htm" /}
{block name="guanggao"}{$label.listgg701|default=""}{/block}
{block name="guanggao1"}{$label.listgg702|default=""}{/block}
{block name="listnewstitle"}<a href="{:url('Part/index?fid=45')}">压滤器使用介绍</a>{/block}
{block name="listnewsmove"}<a class="t-14" href="{:url('Part/index?fid=45')}">更多 <i class="cx-icon cx-icon-xiangyoujiantou"></i></a>{/block}
{block name="listnewshd"}{$label.cplistnewshd_ylj|default=""}{/block}
{block name="listnewsls"}{$label.cplistnewslist_ylj|default=""}{/block}