{extend name="./template/junxian/chanpin/list_1.htm" /}
{block name="guanggao"}{$label.listgg601|default=""}{/block}
{block name="guanggao1"}{$label.listgg602|default=""}{/block}
{block name="listnewstitle"}<a href="{:url('Part/index?fid=47')}">输液泵说明</a>{/block}
{block name="listnewsmove"}<a class="t-14" href="{:url('Part/index?fid=47')}">更多 <i class="cx-icon cx-icon-xiangyoujiantou"></i></a>{/block}
{block name="listnewshd"}{$label.cplistnewshd_syb|default=""}{/block}
{block name="listnewsls"}{$label.cplistnewslist_syb|default=""}{/block}