<!DOCTYPE html>
<html lang="zh-cn">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>蠕虫CMS安装程序</title>
    <meta name="keywords" content="蠕虫CMS安装程序" />
    <meta name="description" content="蠕虫CMS安装程序" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="cxbs.net!Zhaoyan" />
    <link rel="shortcut icon" href="__IMAGES__/img/favicon.png" type="image/x-icon">
    {load href="__CSS__/cxbsnet.css,__LAYUI__/css/layui.css,__CSS__/iconfont.css,__JS__/scrollbar/jquery.mCustomScrollbar.min.css,__IMAGES__/app.css" /}
    {load href="__JS__/jquery-2.0.3.min.js,__JS__/scrollbar/jquery.mCustomScrollbar.concat.min.js,__LAYUI__/layui.js" /}
</head>
<body>
<header class="cont cx-fex-c fex-column fex-items-c mt-50">
    <a class="x2" href="http://www.cxbs.net" target="_blank" title="上海焱凤信息技术有限公司">
        <img class="img-responsive inst-logoimg" src="__IMAGES__/logo.png" alt="上海焱凤信息技术有限公司">
    </a>
    <h1 class="t-yellow mt-20">蠕虫CMS安装程序---{block name="top"}阅读使用协议{/block}</h1>
</header>
<section class="cont mt-30">
    <div class="layui-progress inst-lodin" lay-showpercent="true">
        <div class="layui-progress-bar" lay-percent="{block name='jindu'}20%{/block}"></div>
    </div>
    {block name="cont"}
    <div id="content_1" class="layout inst-xieyi inst-txt">
        版权所有 (c) 2015-2018，WORMCMS.COM保留所有权利。</br></br>
        感谢您选择蠕虫CMS。希望我们的努力能为您提供一个简单.快速、高效.稳定的建站解决方案。</br>
        蠕虫官方网址为 http://www.wormcms.com。</br></br>
        用户须知：本协议是您与WORMCMS.COM（以下简称蠕虫CMS）之间关于您使用蠕虫CMS提供的各种软件产品及服务的法律协议。无论您是个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，包括免除或者限制蠕虫CMS责任的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款。如您不同意本服务条款或蠕虫CMS随时对其的修改，您应不使用或主动取消蠕虫CMS提供的相关产品。否则，您的任何对蠕虫CMS产品中的相关服务的注册、登陆、下载、查看等使用行为将被视为您对本服务条款全部的完全接受，包括接受蠕虫CMS对服务条款随时所做的任何修改。</br></br>
        本服务条款一旦发生变更, 蠕虫CMS将在网页上公布修改内容。修改后的服务条款一旦在网站管理后台上公布即有效代替原来的服务条款。您可随时登陆蠕虫CMS官方网站查阅最新版服务条款。如果您选择接受本条款，即表示您同意接受协议各项条件的约束。如果您不同意本服务条款，则不能获得使用本服务的权利。您若有违反本条款规定，蠕虫CMS有权随时中止或终止您对蠕虫CMS产品的使用资格并保留追究相关法律责任的权利。</br></br>
        在理解、同意、并遵守本协议的全部条款后，方可开始使用蠕虫CMS产品。您可能与蠕虫CMS直接签订另一书面协议，以补充或者取代本协议的全部或者任何部分，蠕虫CMS拥有蠕虫CMS的全部知识产权。本软件只供许可协议，并非出售。蠕虫CMS只允许您在遵守本协议各项条款的情况下复制、下载、安装、使用或者以其他方式受益于本软件的功能或者知识产权。</br></br>
        I. 协议许可的权利 </br></br>
        您可以在完全遵守本许可协议的基础上，将本软件应用于商业用途，而不必支付软件版权许可费用。</br>
        您可以在协议规定的约束和限制范围内修蠕虫CMS产品源代码(如果被提供的话)或界面风格以适应您的网站要求，但必须保留软件版本信息的正常显示及相关连接正常。</br>
        您拥有使用本软件构建的网站中全部会员资料、文章及相关信息的所有权，并独立承担与使用本软件构建的网站内容的审核、注意义务，确保其不侵犯任何人的合法权益，独立承担因使用蠕虫CMS和服务带来的全部责任，若造成蠕虫CMS或用户损失的，您应予以全部赔偿。 </br>
        您可以从蠕虫CMS提供的应用市场服务中下载适合您网站的应用程序，但应向应用程序开发者/所有者支付相应的费用。</br></br>
        II. 协议规定的约束和限制 </br></br>
        禁止去除蠕虫CMS源码里的版权信息，商业授权版本可去除后台界面及前台界面的相关版权信息。</br>
        禁止在蠕虫CMS整体或任何部分基础上发展任何派生版本、修改版本或第三方版本用于重新分发。</br></br>
    </div>
    {/block}
    <div class="cx-fex-c mt-20">
        {block name="button"}
        <a class="button bg-yellow" href="{:url('step1')}">同意协议并安装系统</a>
        {/block}
    </div>
</section>
{block name="js"}
<script>
    (function($){
        $(window).load(function(){
            $("#content_1").mCustomScrollbar({
                theme:"light", //主题颜色
                autoHideScrollbar: true, //是否自动隐藏滚动条
                scrollInertia :0,//滚动延迟
                horizontalScroll : false,//水平滚动条
                callbacks:{
                }
            });
        });
    })(jQuery);
</script>
{/block}
<script>
    layui.config({
        base: '__IMAGES__/'
    }).use('app');
</script>
</body>
</html>