<a href="{:url('index')}" class="button button-S bg-blue">网站核心配置</a>
{if $btn.models}
<a href="{:url('models')}" class="button button-S bg-blue">模型基本设置</a>
{/if}
{if $btn.wap}
<a href="{:url('wap')}" class="button button-S bg-blue">手机端基本设置</a>
{/if}
{if $btn.userbase}
<a href="{:url('userbase')}" class="button button-S bg-blue">会员基本设置</a>
{/if}
{if $btn.play}
<a href="{:url('play')}" class="button button-S bg-blue">支付设置</a>
{/if}
{if $btn.sms}
<a href="{:url('sms')}" class="button button-S bg-blue">短信设置</a>
{/if}
{if $btn.add}
<a href="{:url('add')}" class="button button-S bg-blue">添加字段</a>
{/if}
{if $btn.lst}
<a href="{:url('lst')}" class="button button-S bg-blue">字段列表</a>
{/if}