{include file="public/meat" title="手机网站设置"/}
<div class="cx-fex-c">
    <div class="x11 pad-t15 pad-b10">
        <div class="cx-fex-c">
            <div class="layout">
                {include file="config/head" /}
            </div>
        </div>
    </div>
    <div class="x11">
        <fieldset class="cx-field">
            <legend class="cx-field-legend">手机网站设置</legend>
            <form class="layui-form" role="form" action="" method="post">
                <div class="cx-fex-l mb-10">
                    <div class="x3 t-r">
                        <label class="lab">是否启用独立手机端 <span class="t-red">*</span> </label>
                    </div>
                    <div class="xs8 xl9">
                        <input name="webdb[wapopen]" value="1" {eq name="$webdb.wapopen" value="1"}checked="checked"{/eq} type="radio" title="启用">
                        <input name="webdb[wapopen]" value="0" {eq name="$webdb.wapopen" value="0"}checked="checked"{/eq} type="radio" title="不启用">
                    </div>
                </div>
                <div class="cx-fex-l mb-10 mt-20">
                    <div class="x3 t-r"></div>
                    <div class="xs8 xl9">
                        <button class="button bg-blue" lay-submit lay-filter="d-button">立即提交</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
<div style="height: 20px; overflow: hidden"></div>
{include file="public/js" /}
<script>
    layui.config({
        base: '__ADMIN__/js/'
    }).use('app');
</script>
{include file="public/footer" /}