<ul class="cx-fex">
    {volist name="artlist" id="cx" empty="暂无内容"}
    <li class="xs3 xl6 list-product">
        <div class="pad-a5 list-phoes">
            <a title="{$cx.futitle}" href="{:url('Article/index',array('fuid'=>$parts.id,'aid'=>$cx.aid))}">
                <img class="img-responsive" src="{$cx.picurl}" title="{$cx.futitle}" alt="{$cx.futitle}">
            </a>
            <div class="cx-fex-c">
                <a class="hidden-l" title="{$cx.partname}">【{$cx.partname}】</a>
                <a title="{$cx.futitle}" href="{:url('Article/index',array('fuid'=>$parts.id,'aid'=>$cx.aid))}">{$cx.title}</a>
            </div>
        </div>
    </li>
    {/volist}
</ul>
<div class="pad-a20 cx-fex-c">
    {$pages}
</div>