<div class="site-title cl">
    <fieldset><legend>网页</legend></fieldset>
</div>
<ul class="cx-auth-iconlist cl">
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-my"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-dianhua"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-dianhuajianpan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-huchudianhua"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-mima"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-gengduo"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-unie64d"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-fenxiang"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-fenxiang2"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-pinglun"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shoucang"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xihuan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiazai"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiazai2"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shipin"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-dizhi"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-dingdan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-fenlei"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-gouwuche"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-yongjin"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-win"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-htmal5icon35"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-kehutuijian"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-jia"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-mima1"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-jiaoyijilu"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xingmingyonghumingnicheng"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-iconset0187"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-iconset0325"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-wxbbaobiao"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-wxbgongju"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-wxbmingxingdianpu"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-wxbzhanghu"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-cuowu"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-erweima"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-lajixiang"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-naozhong"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-saoyisao"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shangfan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shezhi"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shengyin"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shijian"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shouhuodizhi"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shouye"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shuaxin"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-sousuo"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-suo"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-tishi"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-wancheng"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiafan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiangshangjiantou"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiangxiajiantou"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiangyoujiantou"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiangzuojiantou"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-yanjing"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-yijianfankui"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-zhengque"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xiaoxizhongxin"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-lingcunwei"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-iconfontfuwushichang"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-gerenshimingrz"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-mian"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-yuyin"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-posjizhinan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-yanzhengma"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-yonghuzu"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-all"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-good"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-compass"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-add"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-minus"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-attachment"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-phone"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-diannao"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-qun"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-erweima1688"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-renminbi1688"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shenghuojiaofei"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-zhifu-01"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-icon-test"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-weibiaoti5"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-chexiandingdan"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-shoujichongzhi"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-zmxy"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-tuichu"></i></li>
    <li onclick="dicon(this)"><i class="cx-icon cx-icon-xinyongqia"></i></li>
</ul>