{include file="public/meat" title="导航列表"/}
<div class="cx-fex-c">
    <div class="x11 pad-t15 pad-b10">
        <div class="cx-fex">
            <div class="xs6 xl12">
                <a href="{:url('add',array('fid'=>$Request.param.fid))}" class="button bg-blue">添加导航</a>
            </div>
        </div>
    </div>
    <div class="x11">
        <form class="layui-form" role="form" action="" method="post">
            <table class="cx-teble cx-teble-bor-w cx-teble-bor cx-table-striped cx-table-hover cx-table-responsive-w">
                <thead>
                <tr>
                    <th>导航名称</th>
                    <th>链接地址</th>
                    <th class="t-c" width="80">显示</th>
                    <th class="t-c" width="100">排序</th>
                    <th class="t-c" width="120">编辑</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="cx" empty=""}
                <tr>
                    <td>{$cx.icon|default=''}【{$cx.title}】</td>
                    <td>{$cx.url}</td>
                    <td class="t-c"></td>
                    <td class="t-c"><input class="ipt ipt-S t-c" type="text" name="sort[{$cx.id}]" value="{$cx.sort}"></td>
                    <td class="t-c">
                        <a class="button button-S bg-blue mr-5" href="{:url('edit',array('fid'=>$Request.param.fid,'id'=>$cx.id))}" title="编辑【{$cx.title}】导航">编辑</a>
                        <a class="button button-S bg-red cx-click" data-id="{$cx.id}" data-href="{:url('del')}" data-type="deldata">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="t-c pad-t20">
               <button class="button button-S bg-blue" data-href="{:url('sort',array('fid'=>$Request.param.fid))}" data-type="sort" lay-submit lay-filter="sd-btn">修改排序</button>
            </div>
        </form>
    </div>
</div>
<div style="height: 20px; overflow: hidden"></div>
{include file="public/js" /}
<script>
    layui.config({
        base: '__ADMIN__/js/'
    }).use('app');
</script>
{include file="public/footer" /}